.aboutcontainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.aboutbox {
  margin-top: 15rem;
  width: 1300px;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  border-radius: 15px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  flex-direction: column;
  flex-direction: row;
  padding: 0 1rem;
}

.biotext {
  flex-direction: column;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  height: 90%;
  background-color: rgba(58, 57, 57, 0.3);
  padding: 2rem;
  color: white;
  margin-right: 1rem;
  padding: 0.5rem;
}
.skillstext {
  flex-direction: column;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  height: 90%;
  width: 90%;
  background-color: rgba(58, 57, 57, 0.3);
  padding: 2rem;
  color: white;
  padding: 0.5rem;
}

.btnrow {
  width: 100%;
  display: flex;
  font-size: 15px;
  cursor: pointer;
  margin-top: 1rem;
  justify-content: center;
}

.aboutbtns {
  width: 405px;
  display: flex;
  justify-content: space-between;
}

.aboutbtn {
  font-weight: bold;
  border-radius: 7px;
  font-size: 20px;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  color: white;
  width: 120px;
  margin-right: 0.5rem;
  padding: 0px 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Darker Grotesque", sans-serif;
  text-shadow: 0 0 0.5px black, 0 0 0.5px black, 0 0 1px black, 0 0 1px black;
}

.aboutbtn:hover {
  border: 3px solid white;
  font-style: italic;
}

.disabledbutton {
  border-left: 3px solid #474646;
  border-right: 3px solid #474646;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-radius: 7px;
  font-size: 20px;
  color: #474646;
  width: 120px;
  display: flex;
  justify-content: center;
  cursor: initial;
  font-weight: bold;
  height: 100%;
  padding: 0px 10px;
  margin-right: 0.5rem;
  align-items: center;
  font-family: "Darker Grotesque", sans-serif;
  text-shadow: 0 0 0.5px white, 0 0 0.5px white, 0 0 0.5px white,
    0 0 0.5px white;
}

.disabledbutton:hover {
  background-color: transparent;
}

@media screen and (max-width: 1280px) {
  .aboutcontainer {
    justify-content: center;
  }
  .aboutbox {
    margin-top: 2rem;
    width: 1000px;
    height: 620px;
  }

  .biotext {
    font-size: 18px;
    width: 100%;
  }
  .skillstext {
    font-size: 16px;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .aboutbox {
    width: 850px;
  }
}

@media screen and (max-width: 899px) {
  .aboutbox {
    height: 600px;
    width: 90%;
    margin-top: -13rem;
    flex-direction: column;
  }

  .skillstext {
    height: 40%;
    font-size: 14px;
  }

  .biotext {
    font-size: 15px;
    height: 50%;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 680px) {
  .aboutbox {
    margin-top: 2rem;
    height: 600px;
  }

  .biotext {
    height: 60%;
    font-size: 14px;
  }
  .skillstext {
    height: 35%;
    font-size: 13px;
  }

  .skillstext h3 {
    margin-top: -0.8rem;
  }
}

@media screen and (max-width: 520px) {
  .aboutbox {
    height: 400px;
  }

  .btnrow {
    width: 300px;
  }
}
@media screen and (max-width: 480px) {
  .aboutbox {
    height: 520px;
    padding: 0 0.3rem;
    margin-top: 2rem;
  }

  .aboutbox h1 {
    font-size: 30px;
    margin-bottom: 2rem;
    margin-top: -0.3rem;
  }

  .biotext {
    font-size: 16px;
    margin-top: 0rem;
    margin-right: 0;
    height: 52%;
    line-height: 13.5px;
  }

  .skillstext {
    font-size: 16px;
    margin-top: -0.5rem;
    padding-top: 2rem;
    height: 40%;
    line-height: 13.5px;
  }

  .aboutbtn {
    font-size: 13px;
    width: 90px;
    height: 100%;
    margin-left: 0rem;
  }

  .disabledbutton {
    font-size: 13px;
    width: 90px;
    height: 100%;
  }
}
