.aboutcontainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  /* border: 3px solid blue; */
}

/* .abouttitle {
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 1px black, 0 0 1px black;
  font-size: 22px;
  font-family: "Darker Grotesque", sans-serif;
  color: white;
  border: 3px solid red;
} */

.aboutbox {
margin-top: 15rem;
  width: 1300px;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  border-radius: 15px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  flex-direction: column;
  /* border: 3px solid yellowgreen; */
  flex-direction: row;
  padding: 0 1rem;
}

/* .bio {
  width: 30%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0.5rem;
  border: 3px solid hotpink;
}

.skills {
  width: 30%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0.5rem;
  margin-bottom: 2.5rem;
  border: 3px solid hotpink;
} */

.biotext {
  flex-direction: column;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  height: 90%;
  /* width: 50%; */
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2rem;
  color: white;
  /* line-height: 20px; */
  /* border: 3px solid hotpink; */
  /* width: 100%; */
  margin-right: 1rem;
  padding: 0.5rem;
}
.skillstext {
    /* border: 3px solid hotpink; */
  flex-direction: column;
  /* line-height: 20px; */
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  height: 90%;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2rem;
  color: white;
  padding: 0.5rem;
  /* border-bottom: 3px solid white; */
}

.aboutbtn {
  font-weight: bold;
  border-radius: 7px;
  font-size: 20px;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  color: white;
  width: 120px;
  margin-right: 0.5rem;
  /* margin-left: 0.5rem; */
  padding: 0px 10px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Darker Grotesque", sans-serif;
}

.homebtn:hover {
  border: 3px solid white;
  font-style: italic;
}

.btnrow {
  width: 100%;
  display: flex;
  font-size: 15px;
  cursor: pointer;
  margin-top: 1rem;
  justify-content: center;
}

.aboutbtns {
  width: 405px;
  display: flex;
  justify-content: space-between;
}

.disabledbutton {
  border-left: 3px solid #474646;
  border-right: 3px solid #474646;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-radius: 7px;
  font-size: 20px;
  color: #474646;
  width: 120px;
  display: flex;
  justify-content: center;
  cursor: initial;
  font-weight: bold;
  height: 100%;
  padding: 0px 10px;
  margin-right: 0.5rem;
  align-items: center;
  font-family: "Darker Grotesque", sans-serif;
}

.disabledbutton:hover {
  background-color: transparent;
}

/* @media screen and (max-width: 1500px) {
  .btnrow {
    width: 300px;
  }
  .aboutbtn {
    font-size: 10px;
    width: 80px;
    height: 80%;
  }

  .disabledbutton {
    font-size: 10px;
    width: 80px;
    height: 80%;
  }
}

.aboutbox {
  /* margin-top: 0; */
/* }  */

@media screen and (max-width: 1280px) {
  .aboutcontainer {
    justify-content: center;
  }
  .aboutbox {
    margin-top: 2rem;
    width: 1000px;
    height: 620px;
  }

  .skills {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  /* .bio {
    justify-content: center;
  } */
  .biotext {
    font-size: 18px;
    width: 100%;
  }
  .skillstext {
    font-size: 16px;
    width: 100%;
  }
  .aboutgrid {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
  .aboutbox {
    width: 850px;
 
  }
}

@media screen and (max-width: 899px) {


  .aboutbox {
    height: 600px;
    width: 90%;
    margin-top: -13rem;
    flex-direction: column;

   
  }
  .aboutgrid {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  .skillstext {
    height: 40%;
    font-size: 14px;
    /* padding-top: -1rem; */
  }

  .biotext {
    font-size: 15px;
    height: 50%;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 680px) {
  .aboutbox {
    margin-top: 2rem;
    height: 600px;
  }

  .biotext {
    height: 60%;
    font-size: 14px;
  }
  .skillstext {
    height: 35%;
    /* margin-top: 2rem; */
    font-size: 13px;
  }

  .skillstext h3 {
    margin-top: -0.8rem;
  }


}

@media screen and (max-width: 520px) {
  .btnrow {
    width: 300px;
  }


  .aboutbox {
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  .biotext {
    font-size: 11px;
    margin-top: 0rem;
    margin-right: 0;
    height: 50%;
    line-height: 13px;
  }

  .skillstext {
    /* height: 20px; */
    font-size: 11px;
    /* line-height: 16px; */
    margin-top: -0.5rem;
    padding-top: 2rem;
    height: 38%;
    line-height: 12.5px;
  }

  .aboutbox h1 {
    font-size: 30px;
    margin-bottom: 2rem;
    margin-top: -0.3rem;
  }

  .aboutbox {
    height: 520px;
    padding: 0 0.3rem;
    margin-top: -1rem;
  }

  .aboutbtn {
    font-size: 13px;
    width: 90px;
    height: 100%;
    margin-left: 0rem;
  }

  .disabledbutton {
    font-size: 13px;
    width: 90px;
    height: 100%;
    /* margin-left: 0rem; */
  }
}

