html,
body {
  width: 100%;
  padding: 1rem;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background-color: tan;
  background-color: #b59e77;
  background-image: url("https://www.transparenttextures.com/patterns/sandpaper.png");
 
    }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
