@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&family=Darker+Grotesque:wght@500&family=Orbitron:wght@500&family=Quicksand:wght@500&family=Syncopate&display=swap");

html,
body {
  width: 100%;
  /* padding: 1rem; */
  margin: 0;
  font-family: "Darker Grotesque", sans-serif;
  /* background-color: tan; */
  /* background-color: #b59e77; */
  background-image: url(/purplesky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
 
    }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
