@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&family=Darker+Grotesque:wght@500&family=Orbitron:wght@500&family=Quicksand:wght@500&family=Syncopate&display=swap");

.container {
  height: 100vh;
}
.navcontents {
  font-size: 20px;
  color: white;
  font-family: "Darker Grotesque", sans-serif;
  text-shadow: 0 0 0.5px black, 0 0 0.5px black, 0 0 1px black, 0 0 1px black;
}

.iconcontainer {
  width: 100%;
  border-bottom: 3px solid white;
  display: flex;
  justify-content: center;
  height: 70px;
  align-items: center;
  margin-bottom: 0rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navicon {
  margin-right: 0.3rem;
}

.homecontents {
  background-repeat: no-repeat;
  background-size: cover;
  height: 93%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}

.divcombiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 10rem;
  height: 500px;
}

.leftsidehome {
  width: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 3px solid white;
  border-bottom-left-radius: 20px;
  font-family: "Quicksand", sans-serif;
  color: white;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  font-size: 25px;
  text-align: end;
  justify-content: center;
  background-color: rgba(58, 57, 57, 0.4);
  max-width: 500px;
  padding: 0rem 1rem;
}

.leftsidehome h1 {
  font-size: 42px;
}

.textcontrol {
  display: flex;
  align-items: center;
  width: 410px;
  height: 450px;
}

.rightsidehome {
  height: 100%;
  display: flex;
  align-items: flex-end;
  border-bottom-right-radius: 20px;
  justify-content: center;
  border-bottom: 3px solid white;
  font-family: "Darker Grotesque", sans-serif;
  color: black;
  font-size: 18px;
  background-color: rgba(58, 57, 57, 0.4);
  width: 500px;
}

.imgcontainer {
  width: 380px;
  outline-offset: 1rem;
  margin-bottom: 2rem;
  z-index: 1;
}

.btnrow {
  width: 100%;
  display: flex;
  font-size: 15px;
  cursor: pointer;
  margin-top: 1rem;
  justify-content: center;
}

.homebtns {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.homebtn {
  font-weight: bold;
  border-radius: 7px;
  font-size: 20px;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  color: white;
  width: 120px;
  margin-right: 0.5rem;
  padding: 0px 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Darker Grotesque", sans-serif;
  text-shadow: 0 0 0.5px black, 0 0 0.5px black, 0 0 1px black, 0 0 1px black;
}

.homebtn:hover {
  border: 3px solid white;
  /* font-style: italic; */
}

.modaltitle {
  font-family: "Darker Grotesque", sans-serif;
  text-align: center;
  color: white;
  font-size: 35px;
}

@media screen and (max-width: 1600px) {
  .divcombiner {
    margin-top: 9rem;
  }
  .leftsidehome {
    font-size: 25px;
    height: 100%;
    max-width: 500px;
  }

  .textcontrol {
    width: 85%;
  }

  .rightsidehome {
    height: 100%;
    width: 30%;
  }
  .imgcontainer {
    width: 390px;
  }
}

@media screen and (max-width: 1415px) {
  .divcombiner {
    height: 470px;
  }
  .leftsidehome {
    font-size: 20px;
    height: 100%;
  }
  .rightsidehome {
    height: 100%;
  }
  .imgcontainer {
    width: 350px;
  }
}

@media screen and (max-width: 1280px) {
  .divcombiner {
    height: 400px;
  }
  .leftsidehome {
    height: 100%;
  }

  .rightsidehome {
    height: 100%;
    justify-content: center;
  }

  .imgcontainer {
    width: 310px;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 1080px) {
  .homecontents {
    justify-content: flex-start;
  }

  .divcombiner {
    height: 380px;
    margin-top: 12rem;
  }

  .leftsidehome {
    font-size: 22px;
    height: 100%;
    width: 40%;
  }

  .leftsidehome h1 {
    font-size: 30px;
    margin-top: 4rem;
  }

  .rightsidehome {
    width: 35%;
    justify-content: center;
    height: 100%;
  }
  .imgcontainer {
    width: 290px;
  }
}

@media screen and (max-width: 899px) {
  .homecontents {
    height: 100%;
  }

  .divcombiner {
    height: 600px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 3rem;
  }

  .leftsidehome {
    max-width: 70%;
    width: 70%;
    height: 50%;
    margin-bottom: 0;
    text-align: start;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-top: 3px solid white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    font-size: 22px;
  }
  .textcontrol {
    height: 100%;
  }

  .rightsidehome {
    width: 70%;
    height: 50%;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
  }
  .imgcontainer {
    width: 270px;
  }
}

@media screen and (max-width: 520px) {
  .btnrow {
    width: 230px;
  }
}

@media screen and (max-width: 480px) {
  .navcontents {
    font-size: 16px;
  }
  .homecontents {
    margin-top: 96px;
    height: 91.2vh;
  }
  .divcombiner {
    justify-content: flex-start;
    width: 100%;
    margin-right: 0%;
    height: 70%;
    margin-top: 1rem;
  }
  .leftsidehome {
    font-size: 18px;
  }

  .imgcontainer {
    margin-top: 1.5rem;
    width: 215px;
  }

  .homebtn {
    font-size: 13px;
    width: 90px;
    height: 100%;
    margin-left: 0rem;
  }
}
