@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@500&family=Darker+Grotesque:wght@500&family=Orbitron:wght@500&family=Quicksand:wght@500&family=Syncopate&display=swap");

.container {
  height: 100vh;
  /* border: 3px solid blue; */
}
.navicon {
  margin-right: 0.3rem;
}
.iconcontainer {
  width: 100%;
  border-bottom: 3px solid white;
  display: flex;
  justify-content: center;
  height: 70px;
  align-items: center;
  margin-bottom: 0rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navcontents {
  font-size: 20px;
  color: white;
  font-family: "Darker Grotesque", sans-serif;
}

.homeicons {
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.homecontents {
  /* background-image: url(https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?auto=compress&cs=tinysrgb&w=1600); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 93%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: #d2b48c; */
  /* background-image: url("https://www.transparenttextures.com/patterns/subtle-zebra-3d.png"); */
  /* border: 3px solid hotpink; */
}

.textimage {
  display: flex;
  justify-content: center;
  /* border: 3px solid blue; */
  height: 600px;
}
.rightsidehome {
  margin-top: 2rem;
  height: 550px;
  display: flex;
  align-items: flex-end;
  border-bottom-right-radius: 20px;
  /* justify-content: flex-end; */
  /* border-right: 3px solid white; */
  border-bottom: 3px solid white;
  /* border-top: 3px solid white; */
  font-family: "Darker Grotesque", sans-serif;
  /* padding-left: 4rem; */
  color: black;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.1);
}

.leftsidehome {
  height: 550px;
  display: flex;
  align-items: center;
  /* border-left: 3px solid white; */
  border-bottom: 3px solid white;
  /* border-radius: 10px; */
  /* border-top: 3px solid white; */
  border-bottom-left-radius: 20px;
  /* padding-right: 2rem; */
  margin-top: 2rem;
  font-family: "Quicksand", sans-serif;
  color: white;
  font-size: 30px;
  text-align: end;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.textcontrol {
  /* border: 3px solid black; */
  display: flex;
  align-items: center;
  width: 420px;
  height: 450px;
  /* margin-right: 4rem; */
}
.leftsidehome h1 {
  font-size: 42px;
}

.rightcontents {
  text-align: end;
}

.homebtn {
  border-radius: 10px;
  font-size: 15px;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  color: white;
  width: 120px;
  display: flex;
  justify-content: center;
}

.homebtn:hover {
  border: 3px solid white;

  /* color: tan; */
  /* background-color: white */
}

.btnrow {
  /* border: 3px solid blue; */
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 15px;
  cursor: pointer;
}

.homebtns {
  position: absolute;

  /* border: 3px solid slateblue; */
  width: 255px;
  display: flex;
  justify-content: space-between;
}

.imgcontainer {
  width: 450px;
  /* border: 2px solid white; */
  outline-offset: 1rem;
  /* outline: 2px solid white; */
  /* margin-right: 1rem; */
  margin-bottom: 2rem;
  z-index: 1;
}

.gridcontainer {
  height: 100%;
  color: 3px solid orange;
}


@media screen and (max-width: 1600px) {
  .imgcontainer {
    width: 400px;
  }
  .leftsidehome {
    font-size: 25px;
    height: 500px;
  }

  .rightsidehome {
    height: 500px;
  }

  .btnrow {
    margin-top: -3rem;
  }
}

@media screen and (max-width: 1415px) {
  .imgcontainer {
    width: 350px;
  }
  .leftsidehome {
    font-size: 20px;
    height: 450px;
  }

  .leftcontents {
    display: flex;
    justify-content: center;
  }

  .rightsidehome {
    height: 450px;
  }
.textcontrol {
  width: 85%;
}
  .btnrow {
    margin-top: -6rem;
  }
}

@media screen and (max-width: 1280px) {
 .leftsidehome {
   width: 300px;
 }
  /* .imgcontainer {
    width: 320px;
  }
  .rightsidehome {
    height: 400px;
  }

  .leftsidehome {
    height: 400px;
  }
.btnrow {
  margin-top: -10rem;
} */
}

@media screen and (max-width: 1200px) {
.imgcontainer {
  width: 250px;
}

.leftsidehome {
  font-size: 18px;
  height: 320px; 
}

.leftsidehome h1{
  font-size: 25px;
 
}
.textcontrol{
  /* margin-top: 3rem; */
}

.rightsidehome {
  font-size: 18px;
  height: 320px;
}

.btnrow {
  margin-top: -12rem;
}
}
