.projectcontainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px solid blue;
}

.projectscontents {
  background-repeat: no-repeat;
  background-size: cover;
}

.projectsbox {

  margin-top: 2rem;
  height: 650px;
  width: 1400px;
  display: flex;
  border-radius: 25px;
  border-bottom: 3px solid white;
  font-family: "Darker Grotesque", sans-serif;
  color: black;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  align-items: center;
  flex-direction: column;
}

.projectsbox h1 {
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
  color: white;
}

.cardcontainer {
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: "Darker Grotesque", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.cardrow {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.projecttitle {
  font-size: 22px;
  margin-top: 0.5rem;
  font-family: "Darker Grotesque", sans-serif;
}

.projectdesc {
  line-height: 20px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  font-size: 18px;
  width: 290px;
  font-family: "Darker Grotesque", sans-serif;
  color: white;
  text-align: center;
}

.projectdesc u {
  margin-top: 0.5rem;
}

.projectbuttons {
  text-align: center;
  margin-bottom: 1rem;
}

.projectbtn {
  display: flex;
  align-items: center;
  height: 20px;
  border-right: 2px solid white;
  border-left: 2px solid white;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 0.2rem;
}

.projectbtn:hover {
  border: 2px solid white;
  font-style: italic;
}

.projectbtn #portfolio {
  display: none;
}

.modaltitle {
  line-height: 30px;
  font-size: 45px;
  font-family: "Darker Grotesque", sans-serif;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  color: white;
}

.modaldesc {
  font-family: "Darker Grotesque", sans-serif;
  font-style: italic;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 0.3rem;
}

.modaltitle {
  text-align: center;
}
.projectbtnnav {
  height: 100%;
  font-weight: bold;
  border-radius: 7px;
  font-size: 20px;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  color: white;
  width: 120px;
  margin-right: 0.5rem;
  /* margin-left: 0.5rem; */
  padding: 0px 10px;
  height: 1rem;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Darker Grotesque", sans-serif;
}

.projectbtnnav:hover {
  border: 3px solid white;
  font-style: italic;
}

.btnrownav {
  width: 100%;
  display: flex;
  font-size: 15px;
  cursor: pointer;
  margin-top: 1rem;
  justify-content: center;
  flex-direction: row;
}

.projectbtnsnav {
  width: 405px;
  display: flex;
  justify-content: space-between;
}

.disabledbutton {
  border-left: 3px solid #474646;
  border-right: 3px solid #474646;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-radius: 7px;
  font-size: 20px;
  color: #474646;
  width: 120px;
  display: flex;
  justify-content: center;
  cursor: initial;
  font-weight: bold;
  height: 100%;
  padding: 0px 10px;
  margin-right: 0.5rem;
  align-items: center;
  font-family: "Darker Grotesque", sans-serif;
}

.disabledbutton:hover {
  background-color: transparent;
}

@media screen and (max-width: 1440px) {
  .projectcontainer {
    justify-content: flex-start;
  }
  .projectsbox {
    width: 90%;
    margin-top: 7rem;
  }

  .cardrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
  }

  .projectsbox h1 {
    margin-top: -1.5rem;
    margin-bottom: -2rem;
  }
  .cardcontainer {
    margin-bottom: 1rem;
    margin-right: 1rem;
    width: 280px;
  }

  .projectbtnnav {
    font-size: 12px;
    width: 90px;
    height: 80%;
  }

  .disabledbutton {
    font-size: 12px;
    width: 90px;
    height: 80%;
  }

  .projectbtn {
    font-size: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .popup {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  .projectcontainer {
    justify-content: flex-start;
    padding-top: 8rem;
  }

  .projectsbox {
    height: 600px;
    margin-top: -1rem;
    width: 96%;
  }

  .cardrow {
    margin-left: 1rem;
  }
  .projectdesc {
    width: 240px;
    font-size: 14px
  }
  .projectsbox h1 {
    margin-top: -2rem;
    margin-bottom: -3.5rem;
    font-size: 30px;
  }
  .btnrownav {
    width: 300px;
  }
  .projectbtnnav {
    font-size: 10px;
    width: 80px;
    height: 80%;
  }

  .disabledbutton {
    font-size: 10px;
    width: 80px;
    height: 80%;
  }

  .cardrow {
    margin-top: 4rem;
    width: 300px;
    height: 490px;
    display: flex;
  }
  .modaldesc {
    font-size: 16px;
  }

  .cardcontainer {
    width: 250px;
  }
}

@media screen and (max-width: 480px) {
  .projectbtnnav {
    font-size: 13px;
    width: 90px;
    height: 100%;
    margin-left: 0rem;
  }
  .disabledbutton {
    font-size: 13px;
    width: 90px;
    height: 100%;
    /* margin-left: 0rem; */
  }
}