.projectcontainer {
    height: 100vh;
    /* border: 3px solid blue; */
    /* height: 93%; */
    display: flex;
    align-items: center;
    justify-content: center;
  flex-direction: column;
  }

  .projectscontents {
    /* background-image: url(https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?auto=compress&cs=tinysrgb&w=1600); */
    background-repeat: no-repeat;
    background-size: cover;
  
    /* background-color: #d2b48c; */
    /* background-image: url("https://www.transparenttextures.com/patterns/subtle-zebra-3d.png"); */
    border: 3px solid hotpink;
  }

  .projectsbox {
    margin-top: 2rem;
  height: 650px;
  width: 1400px;
  display: flex;  
  border-radius: 25px;
  border-bottom: 3px solid white;
  font-family: "Darker Grotesque", sans-serif;
  color: black;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  align-items: center;
  flex-direction: column;
  }

  .projectsbox h1 {
    color: white;
  }

 .democontainer {
  border-bottom: 1px solid white;
    border-top: 1px solid white;
 }


 .cardcontainer {
 border-radius: 15px;
 background-color: rgba(255, 255, 255, 0.3);
 font-family: "Darker Grotesque", sans-serif;
 color: white;
display: flex;
flex-direction: column;
align-items: center;
 }


 .cardrow {
   margin-top: 3rem;
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
 }


 .projecttitle {
   font-size: 22px;
   margin-top: 0.5rem;
   font-family: "Darker Grotesque", sans-serif;
 }
 
 .projectdesc {
   flex-direction: column;
   display: flex;
   justify-content: center;
  font-size: 16px;
  margin-top: 0.5rem;
  font-family: "Darker Grotesque", sans-serif;
  color: white;
  /* font-weight:bold; */
  text-align: center;
  /* margin-bottom: 1rem; */
 }

 .projectbuttons {
   text-align: center;
    margin-bottom: 1rem;
 }

 .projectbtn {
   border-right: 2px solid white;
   border-left: 2px solid white;
   border-top: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-radius: 5px;
   color: white;
   cursor: pointer;
  
 }

 .projectbtn:hover {
border: 2px solid white
 }

 .projectbtn #portfolio {
   display: none
 }

 .modaltitle {
font-size: 35px;
font-family:  "Darker Grotesque", sans-serif;
margin-bottom: 1rem;
display: flex;
justify-content: center;
 }

 
.projectbtnnav {
  border-radius: 10px;
  font-size: 15px;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  color: white;
  width: 120px;
  display: flex;
  justify-content: center;

}

.projectbtnnav:hover {
  border: 3px solid white;

  /* color: tan; */
  /* background-color: white */
}

.btnrownav {
  /* border: 3px solid blue; */
  width: 100%;
  display: flex;
  /* justify-content: center; */
  font-size: 15px;
  cursor: pointer;
  margin-top: 1rem;
  padding-left: 4rem;
  justify-content: center;
  flex-direction: row;
}

.projectbtnsnav {
  /* border: 3px solid slateblue; */
  width: 405px;
  display: flex;
  justify-content: space-between;
}

.disabledbutton {
  border-left: 3px solid gray;
  border-right: 3px solid gray;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-radius: 10px;
  font-size: 15px;
  color: grey;
  width: 120px;
  display: flex;
  justify-content: center;
  cursor: initial;
}

.disabledbutton:hover {
  background-color: transparent;
}