.projectcontainer {
    height: 100vh;
    /* border: 5px solid blue; */
    /* height: 93%; */
    display: flex;
    align-items: center;
    justify-content: center;
  flex-direction: column;
  }

  .projectscontents {
    /* background-image: url(https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?auto=compress&cs=tinysrgb&w=1600); */
    background-repeat: no-repeat;
    background-size: cover;
  
    /* background-color: #d2b48c; */
    /* background-image: url("https://www.transparenttextures.com/patterns/subtle-zebra-3d.png"); */
    /* : 3px solid hotpink; */
  }

  .projectsbox {
    /* border: 3px solid orangered; */
    margin-top: 2rem;
  height: 650px;
  width: 1400px;
  display: flex;  
  border-radius: 25px;
  border-bottom: 3px solid white;
  font-family: "Darker Grotesque", sans-serif;
  color: black;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  align-items: center;
  flex-direction: column;
  }

  .projectsbox h1 {
    color: white;
    /* : 3px solid indigo */
  }

 .democontainer {
  border-bottom: 1px solid white;
    border-top: 1px solid white;
 }


 .cardcontainer {
   /* border: 3px solid green; */
 border-radius: 7px;
 background-color: rgba(255, 255, 255, 0.3);
 font-family: "Darker Grotesque", sans-serif;
 color: white;
display: flex;
flex-direction: column;
align-items: center;
width: 280px;
 }


 .cardrow {
   /* border: 3px solid purple; */
   margin-top: 3rem;
   display: flex;
   flex-direction: row;
   width: 100%;
   justify-content: space-between;
 }


 .projecttitle {
   /* border: 3px solid silver; */
   font-size: 22px;
   margin-top: 0.5rem;
   font-family: "Darker Grotesque", sans-serif;
   /* font-style: oblique; */
 }
 
 .projectdesc {
   /* border: 3px solid hotpink; */
   flex-direction: column;
   display: flex;
   justify-content: center;
  font-size: 15.5px;
  width: 290px;
  /* margin-top: 0.5rem; */
  font-family: "Darker Grotesque", sans-serif;
  color: white;
  /* font-weight:bold; */
  text-align: center;
  /* margin-bottom: 1rem; */

 }

 .projectdesc u {
   margin-top: 0.5rem;
 }

 .projectbuttons {
   text-align: center;
    margin-bottom: 1rem;
 }

 .projectbtn {
   border-right: 2px solid white;
   border-left: 2px solid white;
   border-top: 3px solid transparent;
   border-bottom: 3px solid transparent;
   border-radius: 5px;
   color: white;
   cursor: pointer;
  
 }

 .projectbtn:hover {
border: 2px solid white
 }

 .projectbtn #portfolio {
   display: none
 }

 .modaltitle {
font-size: 35px;
font-family:  "Darker Grotesque", sans-serif;
margin-bottom: 1rem;
display: flex;
justify-content: center;
color: white;

 }

 .modaldesc {
  font-family:  "Darker Grotesque", sans-serif;
  font-style: italic;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 0.3rem;
 }

 .modaltitle {
   text-align: center;
  
 }
.projectbtnnav {
  border-radius: 10px;
  font-size: 15px;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  color: white;
  width: 120px;
  display: flex;
  justify-content: center;

}

.projectbtnnav:hover {
  border: 3px solid white;

  /* color: tan; */
  /* background-color: white */
}

.btnrownav {
  /* border: 3px solid blue; */
  width: 100%;
  display: flex;
  /* justify-content: center; */
  font-size: 15px;
  cursor: pointer;
  margin-top: 1rem;
  /* padding-left: 4rem; */
  justify-content: center;
  flex-direction: row;
}

.projectbtnsnav {
  /* border: 3px solid slateblue; */
  width: 405px;
  display: flex;
  justify-content: space-between;
}

.disabledbutton {
  border-left: 3px solid gray;
  border-right: 3px solid gray;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-radius: 10px;
  font-size: 15px;
  color: grey;
  width: 120px;
  display: flex;
  justify-content: center;
  cursor: initial;
}

.disabledbutton:hover {
  background-color: transparent;
}

@media screen and (max-width: 1440px) {
  .projectcontainer {
    justify-content: flex-start;
  }
  .projectsbox {
   width: 90%;
   margin-top: 7rem;
  }

  .cardrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
  
  }

  .projectsbox h1 {
    margin-top: -1.5rem;
    margin-bottom: -2rem;

  }
  .cardcontainer {
    /* min-width: 200px; */
    margin-bottom: 1rem;
    margin-right: 1rem;
    width: 280px;
  }

  .projectbtnnav {
    font-size: 12px;
    width: 90px;
    height: 80%;
  }

  .disabledbutton{
    font-size: 12px;
    width: 90px;
    height: 80%;
  }

  .projectbtn {
    font-size: 10px;
  }
}
@media screen and (max-width: 1024px) {
 .popup {
   width: 100%;
 }
}


@media screen and (max-width: 520px) {
  .projectcontainer {
    justify-content: flex-start;

    /* align-items: flex-start */
    padding-top: 8rem;
  }
  .projectsbox {
height: 600px;
margin-top: -1rem;
width: 96%

  }

  .cardrow {
    margin-left: 1rem;
  }
.projectdesc {
  width: 280px;
}
  .projectsbox h1 {
    margin-top: -2rem;
    margin-bottom: -3.5rem;
    font-size: 30px;
  }
  .btnrownav {
    width: 300px;
  }
  .projectbtnnav {
    font-size: 10px;
    width: 80px;
    height: 80%;
  }

  .disabledbutton{
    font-size: 10px;
    width: 80px;
    height: 80%;
  }

  .cardrow {
    margin-top: 4rem;
    width: 300px;
    height: 490px;
    display: flex;
  }
  .modaldesc {
font-size: 16px;

  }

}